## Content from .ignore
local.mk
target.mk
.*.sw*
make.log
.gitignore 

## content from makestuff
*.log
*.aux
.*.aux
*.blg
*.bbl
*.RData
*.Rlog
*.r
.Rhistory
*.Rout*
*.wrapR.*
up.time
commit.time
commit.default
dotdir/
clonedir/
.gitignore
*.oldfile
up.time
commit.time
commit.default
dotdir/
clonedir/
.gitignore
*.oldfile
*.RData
*.Rlog
*.r
.Rhistory
*.Rout*
*.wrapR.*
